@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #D32F2F;
  --color-secondary: #1976D2;
  --color-accent: #FBC02D;
  --color-dark: #37474F;
  --color-light: #FAFAFA;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  -webkit-user-select: none;
  user-select: none;
}